<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title >TacOS Application</mat-card-title>
      <mat-card-subtitle>Une application simple pour gérer votre fast food</mat-card-subtitle>
      <img mat-card-lg-image src="assets/tacos.png"
        alt="Image of a Shiba Inu">
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    <div>
      <p>
        L'application TacOS est une solution simple et efficace conçue pour répondre aux besoins des gérants de
        fast-foods, des employés de restauration et des clients. Elle permet la gestion des produits, la mise à jour des
        prix et facilite le processus de commande en temps réel, quel que soit le nombre de clients présents, réduisant
        ainsi les files d'attente et optimisant le temps d'attente.
      </p>
    </div>
    <div>
      <p>
        Pour les gestionnaires de fast-foods, TacOS offre une plateforme conviviale pour gérer leur inventaire de produits
        et mettre à jour les prix de manière intuitive. Cela garantit une gestion efficace des stocks et une adaptation
        rapide aux fluctuations du marché.
      </p>
    </div>
    <div>
      <p>
        Pour les clients, TacOS offre une expérience de commande fluide et rapide. Ils peuvent passer leur commande à tout
        moment, sans avoir à faire face à des files d'attente interminables. Le système envoie automatiquement les détails
        de la commande aux employés de restauration, ce qui réduit les temps d'attente et améliore la satisfaction client.
      </p>
    </div>
    <div>
     <p> Enfin, TacOS offre également un avantage pour les serveurs. Grâce à l'application, ils sont en mesure de suivre en
      temps réel les commandes entrantes et de préparer les repas dès qu'ils sont prêts. Cela permet d'optimiser les flux
      de travail en cuisine et de garantir que les repas sont servis chauds et frais.

        En résumé, TacOS révolutionne la gestion des fast-foods en offrant une solution complète qui simplifie les
        opérations quotidiennes, améliore l'expérience client et optimise l'efficacité du personnel.
       </p>
    </div>







  </mat-card-content>
</mat-card>
