<mat-card class="description">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>
        <span class="align-center">TACOS
          <img mat-card-sm-image alt="TACOS" src="assets/tacos.png" />
        </span>
      </mat-card-title>

      <mat-card-subtitle>TACOS Application </mat-card-subtitle>

    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    <br>
    The TacOS application is a simple and effective solution designed to meet the needs of fast-food managers,
    restaurant employees, and customers. It enables product management, price updates, and facilitates real-time
    ordering, regardless of the number of customers present, thus reducing queues and optimizing wait times.
    <br>
    For fast-food managers, TacOS offers a user-friendly platform to manage their product inventory and intuitively
    update prices. This ensures efficient stock management and quick adaptation to market fluctuations.
    <br>
    For customers, TacOS provides a smooth and fast ordering experience. They can place their order at any time without
    having to face endless queues. The system automatically sends order details to restaurant employees, reducing wait
    times and improving customer satisfaction.
    <br>
    Additionally, TacOS provides an advantage for servers. With the application, they can track incoming orders in
    real-time and prepare meals as soon as they are ready. This optimizes kitchen workflows and ensures that meals are
    served hot and fresh.
    <br>
    In summary, TacOS revolutionizes fast-food management by offering a comprehensive solution that simplifies daily
    operations, enhances customer experience, and optimizes staff efficiency.
  </mat-card-content>
</mat-card>
