<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>ADMINISTRATION</mat-card-title>
  </mat-card-header>
  <mat-card-content>

    <div class="container">
      <h2>Liste des Familles</h2>

      <mat-form-field>
        <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
      </mat-form-field>

      <mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="nom">
          <mat-header-cell *matHeaderCellDef> Nom </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.nom}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>

      <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"></mat-paginator>
    </div>

      <!-- <mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort matPaginator>

        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef="id"> N° </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="nom">
          <mat-header-cell *matHeaderCellDef="nom"> Nom </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.nom}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <button mat-button>Voir</button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>

      <mat-paginator [length]="dataSource.data.length" [pageSize]="10" [pageSizeOptions]="[5, 10, 20]"></mat-paginator> -->


  </mat-card-content>
  <mat-card-actions>

  </mat-card-actions>
</mat-card>
