<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Administration</mat-card-title>
  </mat-card-header>
  <mat-card-content>

    <div class="container">
      <h2>Liste des Familles</h2>

      <mat-form-field>
        <mat-label>
          Search <mat-icon>search</mat-icon>
        </mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. format" #input>
      </mat-form-field>
<!-- ------------------------------- -->
      <mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="nom">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Nom </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.nom}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
<!-- ------------------------------- -->
      <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions">
      </mat-paginator>
    </div>


  </mat-card-content>
  <mat-card-actions>

  </mat-card-actions>
</mat-card>
