<mat-toolbar class="title">
  <span></span>
  <span class="align-center">TACOS
     <img mat-card-sm-image alt="TACOS" src="assets/tacos.png" />
  </span>
  <span></span>

</mat-toolbar>
<br>
<mat-toolbar class="barMenu">
  <button mat-icon-button>
    <mat-icon> fastfood</mat-icon>
  </button>
  <span style="flex:auto"></span>
  <button mat-button routerLink="/menu/home" routerLinkActive="active">Home</button>
  <button *ngIf="authService.roles.includes('ADMIN')" mat-button routerLink="/menu/admin" routerLinkActive="active">Admin</button>
  <button *ngIf="authService.roles.includes('SERVER')" mat-button routerLink="/menu/server" routerLinkActive="active">Server</button>
  <button *ngIf="authService.roles.includes('CLIENT')" mat-button routerLink="/menu/client" routerLinkActive="active">Client</button>
  <button mat-button routerLink="/menu/about" routerLinkActive="active">About</button>

  <mat-icon class="espace">person_outline</mat-icon>
  <button mat-button *ngIf = "authService.isAuthenticated" color="accent">
    {{authService.username}}
  </button>
  <button mat-raised-button color ="accent" (click)="logout()">Logout</button>

</mat-toolbar>
<router-outlet></router-outlet>
