<mat-toolbar class="title">
  <span></span>
  <span class="align-center">TACOS
     <img mat-card-sm-image alt="TACOS" src="assets/tacos.png" />
  </span>
  <span></span>

</mat-toolbar>
<br>
<mat-toolbar color="primary">
  <button mat-icon-button>
    <mat-icon color="accent"> fastfood</mat-icon>
  </button>
  <span style="flex:auto"></span>
  <button mat-button routerLink="/menu/home" routerLinkActive="active">Home</button>
  <button mat-button routerLink="/menu" routerLinkActive="active">Admin</button>
  <button mat-button routerLink="/menu/server" routerLinkActive="active">Server</button>
  <button mat-button routerLink="/menu/client" routerLinkActive="active">Client</button>
  <button mat-button routerLink="/menu/about" routerLinkActive="active">About</button>
  <button mat-raised-button>Logout</button>

</mat-toolbar>
<router-outlet></router-outlet>
